
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.cardGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 40px 100px;
    grid-gap: 40px;
    justify-items: center;
}
.Cards h2 {
    margin: 50px 20px;
    font-size: 2em;
    text-align: center;
}
.cardOne {
    background-image: url(../images/card-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.cardTwo {
    background-image: url(../images/card-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.cardThree {
    background-image: url(../images/card-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 1060px) {
    .cardGroup {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 760px) {
        .cardGroup {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}